In [81]:
x, y, z = 100, 150, 178
print("The value of X is {}. The value of Y is {}. The value of Z is {}.".format(x,y,z))

The value of X is 100. The value of Y is 150. The value of Z is 178.

In [82]:
print(f"The value of X is {x}. The value of Y is {y}. The value of Z is {z}.")

The value of X is 100. The value of Y is 150. The value of Z is 178.

In [83]:
# Nesting of lists
l_nesting = [1, 2, 3, ["good", "better", "best"]]
print(l_nesting)

[1, 2, 3, ['good', 'better', 'best']]

In [84]:
# Indexing lists
print(l_nesting)
print(l_nesting[3])
print(l_nesting[3][2])

[1, 2, 3, ['good', 'better', 'best']]
['good', 'better', 'best']
best

In [85]:
# Length of lists
l_new = [1,2,3,4,5,15,0,12,100,8]
print(len(l_new))

10

In [86]:
# Slicing of lists
# list_name[start_index : end_index+1 : step_size]
# start_index, end_index, step_size --> Optional
print(l_new[2:6:1])

[3, 4, 5, 15]

In [87]:
# printing all the elements of a list
print(l_new[::])

[1, 2, 3, 4, 5, 15, 0, 12, 100, 8]

In [88]:
# Slicing of lists
# Require alternate elements from beginning of list
print(l_new[0::2])

[1, 3, 5, 0, 100]

In [89]:
# Slicing of lists
print(l_new[::1])

[1, 2, 3, 4, 5, 15, 0, 12, 100, 8]

In [90]:
# Slicing of lists
print(l_new[3::3])

[4, 0, 8]

In [91]:
# Negative indexing
print(l_new)
print(l_new[-1])
print(l_new[-2])
print(l_new[-3])

[1, 2, 3, 4, 5, 15, 0, 12, 100, 8]
8
100
12

In [92]:
# Accessing the last element
print(l_new[len(l_new)-1])
print(l_new[-1])

8
8

In [93]:
# Reversing a list
print(l_new[::-1])

[8, 100, 12, 0, 15, 5, 4, 3, 2, 1]

In [94]:
# Lists are mutable
print(l_new)
l_new[-4] = 1000
print(l_new)

[1, 2, 3, 4, 5, 15, 0, 12, 100, 8]
[1, 2, 3, 4, 5, 15, 1000, 12, 100, 8]

In [95]:
# Using for loop

x = [4, 5, 1, 12, 5, 5]
new_list = []

for item in x:
    new_list.append(item**2)
print(new_list)

[16, 25, 1, 144, 25, 25]

In [96]:
# List Comprehension
x = [4, 5, 1, 12, 5, 5]
new_list = [item**2 for item in x]
print(new_list)

[16, 25, 1, 144, 25, 25]

In [97]:
import time
import random

In [98]:
x2 = [random.randint(1, 100) for i in range(100000)]

In [99]:
len(x2)

100000

In [100]:
# Using for loop

new_list = []

start_time = time.time()
for item in x2:
    new_list.append(item**2)
end_time = time.time()

In [101]:
print(end_time-start_time)

0.004849672317504883

In [102]:
# List Comprehension
start_time_2 = time.time()
new_list_2 = [item**2 for item in x2]
end_time_2 = time.time()

In [103]:
print(end_time_2-start_time_2)

0.0032813549041748047

In [104]:
# List Comprehension
x = [4, 5, 1, 12, 5, 5]
new_list = [item**2 for item in x if item % 2 == 0]
print(new_list)

[16, 144]

In [105]:
age = [1, 14, 21, 12, 4, 14, 14]
print(age)

[1, 14, 21, 12, 4, 14, 14]

In [106]:
age_deep_copy = age.copy()
age_shallow_copy = age
print("Deep copy:", age_deep_copy)
print("Shallow copy:", age_shallow_copy)

Deep copy: [1, 14, 21, 12, 4, 14, 14]
Shallow copy: [1, 14, 21, 12, 4, 14, 14]

In [107]:
age.append(1000)
print("Original age:", age)

Original age: [1, 14, 21, 12, 4, 14, 14, 1000]

In [108]:
print("Deep copy:", age_deep_copy)
print("Shallow copy:", age_shallow_copy)

Deep copy: [1, 14, 21, 12, 4, 14, 14]
Shallow copy: [1, 14, 21, 12, 4, 14, 14, 1000]

In [109]:
age_deep_copy.append("Deep copy item")
age_shallow_copy.append("Shallow copy item")

In [110]:
print("Original age:", age)
print("Deep copy:", age_deep_copy)
print("Shallow copy:", age_shallow_copy)

Original age: [1, 14, 21, 12, 4, 14, 14, 1000, 'Shallow copy item']
Deep copy: [1, 14, 21, 12, 4, 14, 14, 'Deep copy item']
Shallow copy: [1, 14, 21, 12, 4, 14, 14, 1000, 'Shallow copy item']

In [111]:
del age, age_deep_copy, age_shallow_copy

In [112]:
my_first_tuple = (1, 3, 4, 7, 9)

In [113]:
# my_first_tuple[2] = 2000  # Tuples are immutable (cannot be changed)

In [114]:
football = tuple(("Ronaldo", "Messi", "Beckham"))  # tuple constructor
print(football)
print(type(football))

('Ronaldo', 'Messi', 'Beckham')
<class 'tuple'>

In [115]:
ip = input("Enter footballer: ")
if ip in football:
    print(ip,"is present")
else:
    print(ip,"is absent")

a is absent

In [116]:
#Making changes to a tuple
#Converting tuple to list, making changes, converting list back to tuple
print(football)
t = list(football)
print(t)
t[2] = "Rooney"
football = tuple(t)
print(football)

('Ronaldo', 'Messi', 'Beckham')
['Ronaldo', 'Messi', 'Beckham']
('Ronaldo', 'Messi', 'Rooney')

In [117]:
# Modifying tuple through concatenation
cricket = ("Sachin", "Virat", "Dhoni")
sports = football + cricket
print(sports)
cricket += football  # cricket = cricket + football
print(cricket)

('Ronaldo', 'Messi', 'Rooney', 'Sachin', 'Virat', 'Dhoni')
('Sachin', 'Virat', 'Dhoni', 'Ronaldo', 'Messi', 'Rooney')

In [118]:
my_demo_string = "Hello"

In [119]:
# my_demo_string[1] = 'i'   # strings are also immutable

In [120]:
# choose keys which are immutable
firstD = {"employee_ID":[1,2,3,4,5], "employee_name":["A", "B", "D", "E"]}

In [121]:
# firstD2 = {["employee_ID"]:[1,2,3,4,5], ["employee_name"]:["A", "B", "D", "E"]}

In [122]:
firstD3 = {("employee_ID"):[1,2,3,4,5], ("employee_name"):["A", "B", "D", "E"]}

In [123]:
print(firstD.keys())

dict_keys(['employee_ID', 'employee_name'])

In [124]:
print(firstD.values())

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'D', 'E']])

In [125]:
# Dictionary within a dictionary
demoD = {"Name":"Sachin Tendulkar",
         "Country":["India", "MI", "Yorkshire"],
         "Colleagues":{"Name":["Rahul","Dhoni"],
                     "Country":["IN"]}}

print(demoD)

{'Name': 'Sachin Tendulkar', 'Country': ['India', 'MI', 'Yorkshire'], 'Colleagues': {'Name': ['Rahul', 'Dhoni'], 'Country': ['IN']}}

In [126]:
# Function to add two numbers such that one of the numbers
# is present by default if it is not provided by the user

def add4(n1, n2=100):
    return n1 + n2

In [127]:
s1 = add4(5)
print(s1)

105

In [128]:
s2 = add4(1000, 2000)
print(s2)

3000

In [129]:
def mysteryFunction(s):
    return True if s == s[::-1] else False

In [130]:
print("Mystery solved" if mysteryFunction("NITIN") else "Mystery unsolved")

Mystery solved

In [131]:
print("Mystery solved" if mysteryFunction("FRIEND") else "Mystery unsolved")

Mystery unsolved

In [132]:
def squaredList(my_list):
    return [item**2 for item in my_list]

In [133]:
print(squaredList([1, 3, 2, 4]))

[1, 9, 4, 16]

In [134]:
def squaring(v):
    return v**2

In [135]:
list(map(squaring, [1,2,3,4]))

[1, 4, 9, 16]

In [136]:
list(map(lambda x: x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [137]:
from functools import reduce

In [138]:
int(reduce(lambda x, y: x+y, (1,2,3,4)))

10

In [139]:
# split() function
my_str_1 = "I have to complete my assignment by today"
print(my_str_1.split())

['I', 'have', 'to', 'complete', 'my', 'assignment', 'by', 'today']

In [140]:
my_str_5 = "Hello.Friends.Romans.Countrymen"

print(my_str_5.split())

['Hello.Friends.Romans.Countrymen']

In [141]:
print(my_str_5.split('.'))

['Hello', 'Friends', 'Romans', 'Countrymen']

In [142]:
tweets = "India won!!###VK scored a century! :)###Rohit is the best captain.###The PM congratulates the Indian Cricket Team###Go India"

In [143]:
print(tweets.split("###"))

['India won!!', 'VK scored a century! :)', 'Rohit is the best captain.', 'The PM congratulates the Indian Cricket Team', 'Go India']

In [144]:
T = tweets.split("###")

In [145]:
import pandas as pd

In [146]:
df = pd.DataFrame({"Tweet Number":[1,2,3,4,5], "Tweets":T})

In [147]:
df.head()

   Tweet Number                                        Tweets
0             1                                   India won!!
1             2                       VK scored a century! :)
2             3                    Rohit is the best captain.
3             4  The PM congratulates the Indian Cricket Team
4             5                                      Go India

In [148]:
my_delimiter_1 = "."
my_delimiter_2 = "#"

- The join function is called on a string (delimiter) and it accepts an iterable such as tuple, list or string as an argument. It returns a resultant string where the items in the iterable are joined with each other separated by the delimiter.

In [149]:
print(my_delimiter_1.join(["Hello", "friends"]))

Hello.friends

In [150]:
print(my_delimiter_2.join(("Hello", "friends")))

Hello#friends

### Creating dictionary

In [13]:
d1 = {"ID":[1,2,3,4], "Name":["ABD", "DEF", "DEF", "PQR"], "Salary":[100, 125, 150, 110]}

In [14]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110]}

In [15]:
print(type(d1))

<class 'dict'>

### fromkeys()

In [16]:
new_dictionary = d1.fromkeys(["ID", "Name"])

In [17]:
print(new_dictionary)

{'ID': None, 'Name': None}

In [18]:
new_dictionary["ID"] = [1,2,3,4,5,6]

In [19]:
new_dictionary["Name"] = ["A", "B", "B", "C", "A", "D"]

In [20]:
print(new_dictionary)

{'ID': [1, 2, 3, 4, 5, 6], 'Name': ['A', 'B', 'B', 'C', 'A', 'D']}

In [21]:
v = [[1,2,3], [4,5,6]]

In [22]:
new_dictionary_2 = d1.fromkeys(["ID", "Name"], v)

In [23]:
print(new_dictionary_2)

{'ID': [[1, 2, 3], [4, 5, 6]], 'Name': [[1, 2, 3], [4, 5, 6]]}

### clear()

In [24]:
new_dictionary_2.clear()

In [25]:
print(new_dictionary_2)

{}

In [26]:
print(type(new_dictionary_2))

<class 'dict'>

In [27]:
import random

In [28]:
new_dictionary_2["Age"] = [random.randint(22, 65) for i in range(10)]

In [29]:
print(new_dictionary_2)

{'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

### get()

- Get the value of an item indexed with a specific key

In [30]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110]}

In [31]:
d1.get("ID")

[1, 2, 3, 4]

In [32]:
d1.get("Age", "THE KEY DOES NOT EXIST")

'THE KEY DOES NOT EXIST'

### items()

- Returns a tuple of values for each key-value pair

In [33]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110]}

In [34]:
tmp = d1.items()

In [35]:
print(tmp)

dict_items([('ID', [1, 2, 3, 4]), ('Name', ['ABD', 'DEF', 'DEF', 'PQR']), ('Salary', [100, 125, 150, 110])])

### keys()

In [36]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110]}

In [37]:
print(d1.keys())

dict_keys(['ID', 'Name', 'Salary'])

### pop()

- Removes an item from the dictionary

In [38]:
print(new_dictionary)

{'ID': [1, 2, 3, 4, 5, 6], 'Name': ['A', 'B', 'B', 'C', 'A', 'D']}

In [39]:
print(new_dictionary.pop("Name"))

['A', 'B', 'B', 'C', 'A', 'D']

In [40]:
print(new_dictionary)

{'ID': [1, 2, 3, 4, 5, 6]}

In [41]:
new_dictionary.pop("Age", "THIS KEY IS NOT AVAILABLE")

'THIS KEY IS NOT AVAILABLE'

### values()

In [42]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110]}

In [43]:
print(d1.values())

dict_values([[1, 2, 3, 4], ['ABD', 'DEF', 'DEF', 'PQR'], [100, 125, 150, 110]])

### update()

- Inserts the specified items to the dictionary

In [44]:
d1

{'ID': [1, 2, 3, 4],
 'Name': ['ABD', 'DEF', 'DEF', 'PQR'],
 'Salary': [100, 125, 150, 110]}

In [45]:
new_dictionary_2

{'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

In [46]:
d1.update(new_dictionary_2)

In [47]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110], 'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

In [48]:
new_dictionary

{'ID': [1, 2, 3, 4, 5, 6]}

In [49]:
new_dictionary_3 = {"AADHAAR":[123, 456, 789, 119], "Location":["DEL", "MUM", "KOL", "HYD"]}

In [50]:
print(new_dictionary_3)

{'AADHAAR': [123, 456, 789, 119], 'Location': ['DEL', 'MUM', 'KOL', 'HYD']}

In [51]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110], 'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

### dictionary comprehension

In [52]:
d1

{'ID': [1, 2, 3, 4],
 'Name': ['ABD', 'DEF', 'DEF', 'PQR'],
 'Salary': [100, 125, 150, 110],
 'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

In [53]:
d2 = {k:d1[k] for k in d1.keys() if k=="ID" or k=="Age"}

In [54]:
print(d2)

{'ID': [1, 2, 3, 4], 'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

In [55]:
d1

{'ID': [1, 2, 3, 4],
 'Name': ['ABD', 'DEF', 'DEF', 'PQR'],
 'Salary': [100, 125, 150, 110],
 'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38]}

In [56]:
new_dictionary_3

{'AADHAAR': [123, 456, 789, 119], 'Location': ['DEL', 'MUM', 'KOL', 'HYD']}

In [57]:
d1.update({k:new_dictionary_3[k] for k in new_dictionary_3.keys() if k=="AADHAAR"})

In [58]:
print(d1)

{'ID': [1, 2, 3, 4], 'Name': ['ABD', 'DEF', 'DEF', 'PQR'], 'Salary': [100, 125, 150, 110], 'Age': [30, 26, 41, 45, 26, 50, 49, 51, 28, 38], 'AADHAAR': [123, 456, 789, 119]}

### DataFrame

In [59]:
import pandas as pd

In [60]:
d1.pop("Age")

[30, 26, 41, 45, 26, 50, 49, 51, 28, 38]

In [61]:
df = pd.DataFrame(d1)

In [62]:
df

   ID Name  Salary  AADHAAR
0   1  ABD     100      123
1   2  DEF     125      456
2   3  DEF     150      789
3   4  PQR     110      119

In [63]:
df["Age"] = (23, 24, 29, 27)

In [64]:
df

   ID Name  Salary  AADHAAR  Age
0   1  ABD     100      123   23
1   2  DEF     125      456   24
2   3  DEF     150      789   29
3   4  PQR     110      119   27

In [65]:
df["AADHAAR"][1]

np.int64(456)

In [66]:
df

   ID Name  Salary  AADHAAR  Age
0   1  ABD     100      123   23
1   2  DEF     125      456   24
2   3  DEF     150      789   29
3   4  PQR     110      119   27

In [67]:
df["Department"] = ["DS", "DE", "DA", "QT"]

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [ ]:
# Create a dataframe
df = pd.read_csv("/content/drive/MyDrive/ML DL @ SP for MSc DS 2023-2025/gapminder.csv")

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

In [ ]:
# View last 10 records
df.tail(10)

In [ ]:
# We can use the built-in type function to check whether we are working with a pandas dataframe

type(df)

In [ ]:
# getting the number of rows and columns using the shape `attribute`

df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
# getting more info from our dataset

df.info()

In [ ]:
# Subsetting columns

country_df = df['country']

country_df.head()

In [ ]:
type(country_df)

In [ ]:
# Subsetting country, continent and year

sub = df[['country', 'continent', 'year']]

In [ ]:
type(sub)

In [ ]:
# Subset rows

df.loc[0]

In [ ]:
df.loc[100]

In [ ]:
# subsetting multiple rows

df.loc[[0, 99, 999]]

In [ ]:
# get the last row

df.iloc[-1]

In [ ]:
df.loc[-1]

In [ ]:
# getting multiple rows using iloc

df.iloc[[0, 99, 999]]

The loc and iloc attributes can be used to obtain subsets of columns, rows or both. The general syntax for loc and iloc uses square brackets with a comma. The part to the left of the comma is the row values to subset; the part to the right of the comma is the column values to subset. That is, <br> df.loc[[rows], [columns]] <br>
df.iloc[[rows], [columns]]

In [ ]:
def demo_fun_1(x):
  if x % 2 == 0:
    return True
  else:
    return False

In [ ]:
list(filter(demo_fun_1, [1,2,3,4,5,6,7,8,9]))

In [ ]:
list(filter((lambda x: x % 2 == 0), [1,2,3,4,5,6,7,8,9]))

In [ ]:
# loc[first_arg, second_arg]

In [ ]:
subset2 = df.loc[: , ["year", "population"]]

In [ ]:
subset2.head()

In [ ]:
subset3 = df.iloc[:, [2, 4, -1]]

In [ ]:
subset3.head()

In [ ]:
small_range = list(range(5))
print(small_range)

In [ ]:
subset4 = df.iloc[:, small_range]

In [ ]:
subset4.head()

In [ ]:
small_range5 = list(range(3))
subset5 = df.iloc[:, small_range5]

In [ ]:
subset5.head()

In [ ]:
subset6 = df.iloc[:, :3]

In [ ]:
print(subset6.head())

In [ ]:
subset7 = df.iloc[:, 0:6:2]

In [ ]:
print(subset7.head())

In [ ]:
# Specific rows and specific columns using loc

df.loc[42, "country"]

In [ ]:
# Specific rows and specific columns using iloc

df.iloc[42, 0]

In [ ]:
# Subset multiple rows and columns

df.iloc[[0, 99, 999], [0, 3, 5]]

In [ ]:
df.loc[[0, 9, 99], ['country', 'life_exp', 'gdp_cap']]

In [ ]:
df

In [ ]:
# Create a dataframe

df = pd.read_csv(r"D:\ML_DL\datasets\gapminder.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# View last 10 records
df.tail(10)

In [ ]:
# We can use the built-in type function to check whether we are working with a pandas dataframe

type(df)

In [ ]:
# getting the number of rows and columns using the shape `attribute`

df.shape

In [ ]:
df.columns

In [ ]:
# getting information about our dataset

df.info()

In [ ]:
# Subsetting columns

country_df = df['country']

In [ ]:
type(country_df)

In [ ]:
country_df.head()

In [ ]:
# Subsetting country, continent and year

sub = df[['country', 'continent', 'year']]

In [ ]:
type(sub)

In [ ]:
df.loc[0]

In [ ]:
df.loc[100]

In [ ]:
# subsetting multiple rows

df.loc[[0, 99, 999]]

In [ ]:
# get the last row

df.iloc[-1]

In [ ]:
# getting multiple rows using iloc

df.iloc[[0, 99, 999]]

The loc and iloc attributes can be used to obtain subsets of columns, rows or both. The general syntax for loc and iloc uses square brackets with a comma. The part to the left of the comma is the row values to subset; the part to the right of the comma is the column values to subset. That is, <br> df.loc[[rows], [columns]] <br>
df.iloc[[rows], [columns]]

In [ ]:
subset2 = df.loc[:, ["year", "population"]]

In [ ]:
subset2.head()

In [ ]:
subset3 = df.iloc[:, [2, 4, -1]]

In [ ]:
subset3.head()

In [ ]:
small_range = list(range(5))
print(small_range)

In [ ]:
subset4 = df.iloc[:, small_range]

In [ ]:
subset4.head()

In [ ]:
small_range5 = list(range(3))
subset5 = df.iloc[:, small_range5]
subset5.head()

In [ ]:
subset6 = df.iloc[:, :3]
print(subset6.head())

In [ ]:
subset7 = df.iloc[:, 0:6:2]
print(subset7.head())

In [ ]:
# Specific rows and specific columns using loc

df.loc[42, "country"]

In [ ]:
# Specific rows and specific columns using iloc

df.iloc[42, 0]

In [ ]:
# Subset multiple rows and columns

df.iloc[[0, 99, 999], [0, 3, 5]]

In [ ]:
df.loc[[0, 9, 99], ['country', 'life_exp', 'gdp_cap']]

- For each year in the dataset, what was the average life expectancy?
- What is the average life average expectancy?
- What is the average life population?
- What is the average GDP?
- What if we stratify the data by continent and perform the same calculations?
- How many countries are listed in each continent?

In [ ]:
# Question: For each year in our data, what was the average life expectancy?

# Steps to follow

# 1. Split the data into groups w.r.t. year using the groupby() method
# 2. Extract the lifeExp
# 3. Calculate the mean

print(df.groupby('year')['life_exp'].mean())

In [ ]:
# Question: What is the average life expectancy and average GDP per capita in every continent for each year?

multi_group_var = df.groupby(['year', 'continent'])[['life_exp', 'gdp_cap']].mean()

In [ ]:
print(multi_group_var)

In [ ]:
# Alternative representation

flattened_result = multi_group_var.reset_index()

In [ ]:
print(flattened_result)

In [ ]:
# Question: Find the total number of countries in every continent

# use the nunique() method (number unique method)
# to calculate the number of unqiue values in a Series

print(df.groupby('continent')['country'].nunique())

In [ ]:
# Question: What is the average life expectancy?

global_yearly_life_expectancy = df.groupby('year')['life_exp'].mean()

In [ ]:
print(global_yearly_life_expectancy)

In [ ]:
global_yearly_life_expectancy.plot()

In [ ]:
df.head(10)

In [ ]:
# Question: What is the average GDP per capita?

df['gdp_cap'].mean()

In [ ]:
# Question: What is the minimum GDP per capita?

df['gdp_cap'].min()

In [ ]:
# Question: What is the maximum GDP per capita?

df['gdp_cap'].max()

In [ ]:
# Question: What is the average deviation in the GDP per capita?

df['gdp_cap'].std()

In [ ]:
# Question: Find the median GDP per capita

df['gdp_cap'].median()

In [ ]:
df["gdp_cap"].describe()

In [ ]:
df.describe()

In [ ]:
s3 = pd.Series(["Rosenblatt", "Perceptron"], index=["Inventor", "Invention"])
print(s3)

In [ ]:
s3.iloc[0]

In [ ]:
s3.loc['Invention']

In [ ]:
dict1 = {
    "Name":["Hinton", "Minsky"],
         "Occupation":["Mathematician", "Logician"],
         "Invention":["UAT", "MP Neuron"]
}

In [ ]:
df1 = pd.DataFrame(dict1)

In [ ]:
print(df1)

In [ ]:
dict2 = dict(df1)

In [ ]:
print(dict2)

In [ ]:
cricketers = pd.DataFrame({
    "Name":["MS Dhoni", "Kapil Dev", "Alan Border"],
    "Nationality":["Indian", "Indian", "Australian"],
    "Born":["1980-04-05", "1953-06-13", "1956-07-23"],
    "Matches Played":[350, 210, 110],
    "Runs Scored":[10000, 4500, 6700]
})

In [ ]:
print(cricketers)

In [ ]:
cricketers2 = pd.DataFrame({
    "Name":["MS Dhoni", "Kapil Dev", "Alan Border"],
    "Nationality":["Indian", "Indian", "Australian"],
    "Born":["1980-04-05", "1953-06-13", "1956-07-23"],
    "Matches Played":[350, 210, 110],
    "Runs Scored":[10000, 4500, 6700]},
    columns=["Nationality", "Born", "Name", "Matches Played", "Runs Scored"]
)

In [ ]:
cricketers2

In [ ]:
cricketers3 = pd.DataFrame({
    "Name":["MS Dhoni", "Kapil Dev", "Alan Border"],
    "Nationality":["Indian", "Indian", "Australian"],
    "Born":["1980-04-05", "1953-06-13", "1956-07-23"],
    "Matches Played":[350, 210, 110],
    "Runs Scored":[10000, 4500, 6700]},
    columns=["Nationality", "Born", "Name", "Matches Played", "Runs Scored"],
    index = ["MS Dhoni", "Kapil Dev", "Alan Border"]
)

In [ ]:
cricketers3

In [ ]:
cricketers3.drop(columns=["Name"], inplace=True)

In [ ]:
cricketers3

In [ ]:
cricketers3.loc['Kapil Dev']

In [ ]:
cricketers3.loc['Kapil Dev'].index

In [ ]:
cricketers3.loc['Kapil Dev'].values

In [ ]:
cricketers3.loc['Kapil Dev'].keys()